<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>appwebcrud</display-name>
    <servlet>
    	<description>
    	</description>
    	<display-name>ServletIndex</display-name>
    	<servlet-name>ServletIndex</servlet-name>
    	<servlet-class>com.sambcode.app.servlet.ServletIndex</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ServletInsert</display-name>
    	<servlet-name>ServletInsert</servlet-name>
    	<servlet-class>com.sambcode.app.servlet.ServletInsert</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ServletDelete</display-name>
    	<servlet-name>ServletDelete</servlet-name>
    	<servlet-class>com.sambcode.app.servlet.ServletDelete</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ServletRead</display-name>
    	<servlet-name>ServletRead</servlet-name>
    	<servlet-class>com.sambcode.app.servlet.ServletRead</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ServletUpadate</display-name>
    	<servlet-name>ServletUpadate</servlet-name>
    	<servlet-class>com.sambcode.app.servlet.ServletUpadate</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>ServletIndex</servlet-name>
    	<url-pattern>/ServletIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ServletInsert</servlet-name>
    	<url-pattern>/ServletInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ServletDelete</servlet-name>
    	<url-pattern>/ServletDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ServletRead</servlet-name>
    	<url-pattern>/ServletRead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ServletUpadate</servlet-name>
    	<url-pattern>/ServletUpadate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ServletIndex</welcome-file>
        </welcome-file-list>
    </web-app>
